@charset "utf-8";
/**
  * base.css
  */
/*html{height:101%}*/
body{-webkit-text-size-adjust:none;background:url("../images/bls/bg.jpg");min-width:950px;font-family:"Microsoft YaHei",Arial;font-size:12px;color: #403A3A}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd{border:0 none;margin:0;padding:0}
ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal}
a{text-decoration:none;outline:none;/*blr:expression(this.onFocus=this.blur());*/color:#403324}
a:hover{text-decoration:underline}
.clearn{clear:both;height:1px;overflow:hidden;line-height:0}
.clearfix:after{content:".";display:block;clear:both;height:0;visibility:hidden}
.clearfix{zoom:1;_height:1%}
.hide{display:none}
.cgold{color:#A2835C}
table{border-collapse:collapse}
img{max-width: 950px;}

.fL{float:left}
.fR{float:right}
.blockShadow{-moz-box-shadow:0 0 15px #aaa;-webkit-box-shadow:0 0 15px #aaa;o-box-shadow:0 0 15px #aaa;-ms-box-shadow:0 0 15px #aaa;box-shadow:0 0 15px #aaa;*border:1px solid #eee}

#Wrapper{width: 950px;margin:0 auto;padding: 0 40px;background: #fff}

.slideShow{width:100%;height:490px;margin-bottom: 25px;}
.slideMain{margin:0 auto;position:relative;height: 490px}
.slideImg{position:relative;height: 463px}
.slideImg li{position:absolute;top:0;left:0;display:block;width:100%;height:auto;}

.slidePrint{overflow: hidden;padding: 10px 0 0;}
.slideBt{float: right;margin:0 auto;}
.slideBt li{float:left;cursor: pointer;background:#000;width:9px;height:9px;overflow:hidden;margin-right:10px;_margin-right:5px;text-indent:-99999px;-ms-border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px}
.slideBt li.current{background:#999}
.move{display: none;background:url("../images/arrow.png") no-repeat 0 -51px; height: 51px;width:27px;text-indent: -99999px;overflow: hidden}
.move.next{background-position:0 0}

#Header{padding:20px 0 35px}
#Logo{display: block;text-indent: -99999px;background: url("../images/bls/logo.png") no-repeat;width:202px;height: 70px;float: left;margin:0 90px 0 0;_margin:0 45px 0 0;}
.menu li{float: left;margin:28px 20px 0 0;_margin:14px 10px 0 0;width:92px;}
.menuLink{display: block;width:95px;background: url("../images/bls/menu.png") no-repeat 12px 0;height: 37px;overflow: hidden;text-indent: -99999px}
.mLink1.active,.mLink1:hover{background-position: 12px -52px}
.mLink2{background-position: -102px 0}
.mLink2.active,.mLink2:hover{background-position: -102px -52px}
.mLink3{background-position: -218px 0}
.mLink3.active,.mLink3:hover{background-position: -218px -52px}
.mLink4{background-position: -330px 0}
.mLink4.active,.mLink4:hover{background-position: -330px -52px}
.mLink5{background-position: -438px 0}
.mLink5.active,.mLink5:hover{background-position: -438px -52px}
.mLink6{background-position: -533px 0}
.mLink6.active,.mLink6:hover{background-position: -533px -52px}
.menu li.last{margin-right: 0}

#Main{padding: 0 0 20px;min-height: 500px;position: relative;}

.pageRow{padding-bottom: 25px}
.ctgBlock{float: left;width: 222px;margin-right: 20px;_margin-right: 10px}
.ctgBlock.ctgLast{margin-right: 0}
	.ctgLink{margin-bottom: 20px;_margin-bottom: 10px;display: block;}
.ctgImg{position: relative;display: block;}
.linkOver{position: absolute;top:0;left: 0;z-index: 1;}
.linkOver img{width: 222px;height: 132px;/*-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity: .8;filter: alpha(opacity=80);*/}
.linkOver .pro_title_block{line-height:20px;padding:55px 0 0;color: #333}
.linkOver .pro_title_block p{width:200px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding:0 11px}
.caseList .linkOver .pro_title_block{padding:45px 0 0}
.ctgProTitle{position: absolute;top:0;left: 0;z-index: 2;line-height: 130px;text-align: center;color: #424242;font-size: 12px;width: 100%;height: 100%;}

.rowBlock .ctgLink{border: none;background: url("../images/bls/ctg_menu.png") no-repeat;float: none;margin-right: 20px;_margin-right:10px;padding: 0;width: 222px;height: 18px;overflow: hidden;text-indent: -9999px}
.rowBlock .ctgLink2{background-position: -243px 0}
.rowBlock .ctgLink3{background-position: -486px 0}
.rowBlock .ctgLink4{background-position: -729px 0}
.rowBlock .ctgLast .ctgLink{margin-right: 0}

.ctgListBox{}
.ctgTitle{background: url("../images/bls/list_title.png") no-repeat 0 -11px;width:100%;height: 18px;overflow: hidden;text-indent: -99999px;margin-bottom: 20px}
.ctgTitle.ctg_1{background-position: 0 -53px}
.ctgTitle.ctg_5{background-position: 0 -98px}
.ctgTitle.ctg_6{background-position: 0 -146px}
.ctgTitle.ctg_7{background-position: 0 -190px}
/*.ctgTitle.ctg_9{background-position: 0 -236px}*/
.ctgTitle.ctg_2{background-position: 0 -236px}
.ctgTitle.ctg_8{background-position: 0 -275px}

.ctgList{overflow: hidden;}
.ctgList .ctgBlock{margin-bottom:15px}
.ctgInfo{text-align: center;padding:10px 0 0;font-size: 14px;height: 18px;}
.blockRight{margin-right: 0}


/** Detail **/
/*.details .detail_img{display: block;margin: 0 auto 20px;_margin-bottom:10px;border: none;}*/
.proHead{padding: 25px 0;position: relative;}
.proTitle{font-size: 15px;padding:0 0 5px}
.jiathis_style{float: right;margin: 10px 20px 0 0;_margin: 10px 10px 0 0}
.share{background: url("../images/bls/share.png") no-repeat;width: 24px;height: 24px;text-indent: -99999px;display: block;}
.cTab{margin-bottom: 25px}
.cTab td{padding:0 5px 8px 0;font-size: 15px;}
.tag{padding:2px 10px;background: #e3e2e3;color: #3F3939;display: block;float: left;margin: 0 10px 10px 0}

.detailTab{margin: 45px 0 40px;_margin:20px 0;}
.detailTab th{padding-bottom: 35px;text-align: left;font-weight: normal;vertical-align: top;}
.detailTab td{vertical-align: top;line-height: 24px}
.detailTab .td_a{padding-right: 40px;}
.detailTab .td_b{padding-right: 45px;}
.detail_title .cont{padding-left: 5px}
.detail_views .cont{padding-left: 13px}
.detail_other .cont{padding-left: 15px;width: 130px;float: left;}
.ctg_title{background: url("../images/bls/detail_title.png") no-repeat;height: 20px;text-indent: -99999px;display: block;}
.ctg_title_en{width: 186px;}.ctg_title_cn{width: 472px;}
.line_yellow{display: block;height: 19px;width: 203px;border-bottom: 1px solid #231916;}
/** 详细页标题 **/
.ctg_title_5.ctg_title_en{background-position: 0 -35px}
.ctg_title_5.ctg_title_cn{background-position: -237px -35px}
.ctg_title_6.ctg_title_en{background-position: 0 -76px}
.ctg_title_6.ctg_title_cn{background-position: -237px -76px}
.ctg_title_7.ctg_title_en{background-position: 0 -114px}
.ctg_title_7.ctg_title_cn{background-position: -237px -114px}
.ctg_title_9.ctg_title_en{background-position: 0 -155px}
.ctg_title_9.ctg_title_cn{background-position: -237px -155px}
.ctg_title_8.ctg_title_en{background-position: 0 -195px}
.ctg_title_8.ctg_title_cn{background-position: -237px -195px}
.detailTab td{position:relative;}
/** 案例详细页 **/
.detailTab_case td{padding-bottom: 30px}
.detailTab_case .tr_last td{padding-bottom: 0}
.detailTab_case .line_yellow{top:2px;position: relative;}
.ctg_title_case{/*background: url("../images/bls/title_bg.png") left bottom;*/width: 100%;display: block;line-height: 21px;padding-left:8px;border-bottom: 1px solid #231916;}
.ctg_title_en{font-size: 18px;line-height: 21px;}
.case_infos{background: url("../images/bls/detail_title_case.png") no-repeat;height: 38px;width: 100%;overflow: hidden;text-indent: -99999px;margin-top: 10px}
.case_thinking{background-position: 0 -93px;height:40px}
.case_creative{background-position: 0 -177px;}
.detailTab_case .detail_other{padding-bottom: 0}
table.detailTab_case table td{padding:0 5px 5px 0}

.proBtn,.goTop{background: url("../images/bls/arrow.png") no-repeat;width: 72px;height: 73px;text-indent: -99999px;position: fixed;}
.prevPro{left:100px;top:315px;}
.nextPro{background-position: -124px 0;right: 100px;top:315px;}
.goTop{background-position: -246px 0;bottom:100px;right:10px;display: none}

/** contact_us **/
.mapBox{width:950px;height: 463px;background: #FEE01E;margin-bottom: 25px;_margin-bottom:13px;}
.contactBox{margin-bottom: 50px;width:950px;height: 463px;}
.contactBlock{padding: 65px;min-height: 200px}
.weixin{float: left;}
.comp_name{font-size: 16px;}
.contactUs{float: right;width: 300px;line-height:18px;padding:20px 0 0;}

#Footer{padding: 20px 0;font-size:14px;line-height: 26px;border-top: 1px solid #777}
.footerBox{margin: 0 auto;overflow: hidden}
.footerLogo{display: block;background: url("../images/bls/logoFooter.png") no-repeat;width:148px;height: 50px;text-indent: -99999px;float:left;}
.ftBlock{width: 40%;float:left;font-size: 12px;}
#Filing.ftBlock{float: right;text-align: right;}
