SetEnv PHPRC /home/bewater/public_html/php.ini

<FilesMatch "\.(bak|inc|lib|sh|tpl|lbi|dwt|xxx)$">
    order deny,allow
    deny from all
</FilesMatch>

RewriteEngine On

RewriteRule ^index\.htm$                                       		index\.php?a=home&m=index [L]
RewriteRule ^$                                                  	index\.php?a=home&m=index [L]

RewriteRule ^admin$                                                  	index\.php?a=admin&m=index [L]


RewriteRule ^index-a-(.*)-m-(.*)-id-([0-9]+)-lang-(.*)\.htm$ 		index.php?a=$1&m=$2&id=$3&lang=$4

RewriteRule ^index-a-(.*)-m-(.*)-id-([0-9]+)\.htm$ 			index.php?a=$1&m=$2&id=$3

RewriteRule ^index-a-(.*)-m-(.*)-lang-(.*)\.htm$ 			index.php?a=$1&m=$2&lang=$3

RewriteRule ^index-a-(.*)-m-(.*)\.htm$ 					index.php?a=$1&m=$2

